@model WibuBlog.ViewModels.Ticket.AddTicketVM;

<div class="container">
    <h2>Create New Ticket</h2>
    <form asp-action="Add" asp-controller="Ticket" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>

        <br />

        <label asp-for="Tag">Select Tag</label>
        <select asp-for="Tag" class="form-control">
            <option value="#BannedAccount">#BannedAccount</option>
            <option value="#HelpCreatePost">#HelpCreatePost</option>
            <option value="#TechnicalIssue">#TechnicalIssue</option>
        </select>
        <span class="text-danger" asp-validation-for="Tag"></span>

        <br />

        <label asp-for="UserId">User ID</label>
        <input asp-for="UserId" class="form-control" />
        <span class="text-danger" asp-validation-for="UserId"></span>

        <br />

        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span class="text-danger" asp-validation-for="Email"></span>

        <br />

        <button class="btn btn-primary">Submit Ticket</button>
    </form>
</div>
