@model WibuBlog.ViewModels.Ticket.AddTicketVM;

<div class="container">
    <h2>Create New Ticket</h2>
    <form asp-action="Add" asp-controller="Ticket" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>

        <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span class="text-danger" asp-validation-for="Content"></span>

        <br />

        <button class="btn btn-primary">Submit Ticket</button>
    </form>
</div>
