@model WibuBlog.ViewModels.Post.AddPostVM;

<div class="container">

    <form asp-action="AddNewPost" asp-controller="Post">
        <label asp-for="Title"></label>
        <input asp-for="Title" /> <span class="text-danger" asp-validation-for="Title"></span>

        <br /> <br />

        <label asp-for="Content"></label>
        <input asp-for="Content" /> <span class="text-danger" asp-validation-for="Content"></span>

        <br /> <br />

        <button class="btn btn-primary">Add</button>
    </form>
</div>