@model Domain.Entities.Post;

<div class="container">
    <form asp-action="Update" asp-controller="Post" method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <input asp-for="@Model.Id" type="hidden"/>

        <label asp-for="Title"></label>
        <input asp-for="Title" /> 

        <label asp-for="Content"></label>
        <input asp-for="Content" /> 

        <br /> <br />

        <button class="btn btn-primary">Update</button>
    </form>
</div>