@{
    ViewData["ShowFooter"] = false;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/login.css">   <!-- CSS cho trang Login -->
</head>
<body>
    <div class="app">
        <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex" >
            <div class="d-flex flex-column justify-content-between w-100">
                <div class="container d-flex h-100">
                    <div class="row align-items-center w-100">
                        <div class="col-md-7 col-lg-5 m-h-auto">
                            <div class="card shadow-lg">
                                <div class="card-body">
                                    <h2 class="text-center">Sign In</h2>
                                    <form action="login" method="post">
                                        <div class="form-group">
                                            <label for="username">Username:</label>
                                            <input type="text" name="username" class="form-control" id="username" placeholder="Enter your username" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Password:</label>
                                            <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <a href="forgotPassword" class="text-muted">Forgot Password?</a>
                                            
                                        </div>
                                        <button class="btn btn-primary" type="submit" style="margin-left:120px; margin-top:10px">Sign In</button>
                                    </form>
                                    <div class="text-center mt-3">
                                        <span>Don't have an account? <a href="register" class="text-primary">Register</a></span>
                                    </div>
                                    <div class="text-center mt-3">
                                        <a href="/Home/Index" class="text-muted">Return to homepage</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Core JS -->
    <script src="/assets/js/vendors.min.js"></script>
    <script src="/assets/js/app.min.js"></script>
</body>
</html>
